<!DOCTYPE html>
<html>
    <head>
        <title>ExoCTK</title>
        <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>    
        <script src='{{ url_for('static',filename='jquery-1.12.0.min.js')}}'></script>
    </head>
    <body>
        <script>
            $(document).ready(function(){
                $("#header").load('{{ url_for('static',filename='header.html')}}');
                $("#footer").load('{{ url_for('static',filename='footer.html')}}');
            });
        </script>
            
        <div id="header"></div>

        <div class=page>

            <h1>Exoplanet Characterization Tool Kit</h1>

            <div class=metanav>
                <p>
                    Here is a description of what this Web app can do.
                </p>
                <p>
                    Here is a link to the Github package if you want the full functionality.
                </p>

            </div>

        </div>
        
        <div id="footer"></div>
        
    </body>
</html>