{% extends "base.html" %}
{% block content %}


                <p  style="WIDTH:750px">
                    
                    ExoCTK (the Exoplanet Characterixation Tool Kit) is an open-source, modular, data analysis software package 
                    focused primarily on atompspheric characterization of exoplanets and observation planning. 
                    This web application runs the most recent available version of ExoCTK through this web portal designed to
                    single out the most useful tools for observation planning, forward modelling, data reduction, limb darkening,
                    light curve fitting, and retrievals. </p> 

                    <br></br>

                    <p>Coming soon:</p>
                    <ul>
                        <li style="color:#808080">Data Reduction</li>
                        <li style="color:#808080">Light Curve Fitting</li>
                        <li style="color:#808080">Retrievals</li>
                    </ul>
                    <br>

                    <p>Following are links to our GitHub packages:</p>
                    <ul>
                        <li><a href="https://github.com/ExoCTK/ExoCTK">ExoCTK</a> is the computing package behind the website.</li>
                        <li><a href="https://github.com/ExoCTK/ExoCTKWeb">ExoCTKWeb</a> is the literal source code of this website.</li>
                        <li><a href="https://github.com/ExoCTK/PandExo_HST">PandExo_HST</a> is our counterpart for HST observations.</li>
                    </ul>

<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/2/dataTables.bootstrap.js"></script>

<script>
$(document).ready(function(){
    $('#scriptstatus').DataTable( {
        "paging":   false,
        "bFilter": false,
        stateSave: true
    } );
});
</script>

{% endblock%}
