<!doctype html>
<title>ExoCTK</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>

<header id="branding">
    <a href='/'><img src="static/images/ExoCTK_logo.gif" width="500px" /></a>
    <ul>
        <li><a href="ldc">Limb Darkening Caluclator</a></li>
        <li><a href="pal">Planetary Atmospheres Libraries</a></li>
    </ul>
</header>

<div class=page>

    <h1>Exoplanet Characterization Tool Kit</h1>

    <div class=metanav>
        <p>
            Here is a description of what this Web app can do.
        </p>
        <p>
            Here is a link to the Github package if you want the full functionality.
        </p>

    </div>

    <hr>

    <p id="grey_note">
        Created by <a href="http://stsci.edu/~jfilippazzo/">Joe Filippazzo</a>.</br>
        Running ExoCTK version {{version|safe}}.</br>
        <a href="http://dx.doi.org/10.5281/zenodo.47866">
            <img src="https://zenodo.org/badge/doi/10.5281/zenodo.47866.svg" alt="10.5281/zenodo.47866">
        </a>
    </p>

</div>