<!doctype html>
<html lang="en">
    <head>
        <title>ExoCTK: Limb Darkening Calculator</title>
        <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
        <script src='{{ url_for('static',filename='jquery-1.12.0.min.js')}}'></script>
        
        <script type="text/javascript" async
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
    </head>
    <body>

        <script>
            $(document).ready(function(){
                $("#header").load('{{ url_for('static',filename='header.html')}}');
                $("#footer").load('{{ url_for('static',filename='footer.html')}}');
            });
        </script>
    
        <div id="header"></div>

        <div class=page>

            <h1>Limb Darkening Calculator</h1>

            <div class=metanav>
                <p>
                    Here is a bunch of stuff about the LDC.
                </p>

            </div>
    
            <form id='searchform' method='post' action='ldc_results' >
                
                <h3>Step 1: Choose a Model Grid</h3>
                <input type="radio" name="modeldir" value="/user/jfilippazzo/Models/ACES/"/> Phoenix ACES<br>
                <input type="radio" name="modeldir" value="/user/jfilippazzo/Models/ATLAS9/" /> Kurucz ATLAS9<br>
                <input type="radio" name="modeldir" value="" checked/> Local files: <input type="text" name="local_files" size="80" rows="1" value="/Users/jfilippazzo/Documents/Modules/_DEPRECATED/limb_dark_jeff/limb/specint/"/>​​​​​​​​​​​​​​​​​​​​​​<br>

                <h3>Step 2: Choose a Filter</h3>
                
                <select name="bandpass">
                    <option value=""> Top Hat</option>
                    {{filters|safe}}
                </select>
    
                <h3>Step 3: Choose One or More Limb Darkening Profiles</h3>
                <input type="checkbox" name="uniform" value="uniform"> Uniform<br>
                <input type="checkbox" name="linear" value="linear"> Linear<br>
                <input type="checkbox" name="quadratic" value="quadratic" checked> Quadratic<br>
                <input type="checkbox" name="square-root" value="square-root"> Square-root<br>
                <input type="checkbox" name="logarithmic" value="logarithmic"> Logarithmic<br>
                <input type="checkbox" name="exponential" value="exponential"> Exponential<br>
                <input type="checkbox" name="3-parameter" value="3-parameter"> 3-parameter<br>
                <input type="checkbox" name="4-parameter" value="4-parameter"> 4-parameter<br>
    
                <h3>Step 4: Choose the Stellar Parameters to Calculate</h3>
    
                <p><table>
                    <tr>
                        <td>Teff value [K]</td>
                        <td><input type="text" name="teff" size="10" rows="1" value="2553" /></td>
                    </tr>
                    <tr>
                        <td>Log(g) value [dex]</td>
                        <td><input type="text" name="logg" size="10" rows="1" value="5.22" /></td>
                    </tr>
                    <tr>
                        <td>Fe/H value [dex]</td>
                        <td><input type="text" name="feh" size="10" rows="1" value="0.0" /></td>
                    </tr>
                    <tr>
                        <td>Minimum \(\mu\) to fit</td>
                        <td><input type="text" name="mu_min" size="10" rows="1" value="0.05" /></td>
                    </tr>
                </table></p>
    
                <br>
                <p>
                    <input type='submit' value='Calculate Coefficients' />
                      (This can take up to 20 seconds.)
                </p>
            
            </form>

        </div>
    
        <div id="footer"></div>

    </body>
</html>
