<!doctype html>
<html>
    <head>
        <title>ExoCTK: Limb Darkening Calculator</title>
        <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
        <script src='{{ url_for('static',filename='jquery-1.12.0.min.js')}}'></script>
    </head>
    <body>

        <script>
            $(document).ready(function(){
                $("#header").load('{{ url_for('static',filename='header.html')}}');
                $("#footer").load('{{ url_for('static',filename='footer.html')}}');
            });
        </script>
    
        <div id="header"></div>

        <div class=page>

            <h1>Limb Darkening Calculator</h1>

            <div class=metanav>
                <p>
                    Here is a bunch of stuff about the LDC.
                </p>

            </div>
    
            <form id='searchform' method='post' action='ldc_results' >
                
                <h3>Step 1: Create a Model Grid</h3>
                
                <p> Enter the path to the directory of model spectra on your local machine:
                    <input type="text" name="modeldir" size="80" rows="1" value="/user/jfilippazzo/Models/ACES/" />
                </p>
    
                <p><table>
                    <tr>
                        <td></td>
                        <td>min</td>
                        <td>max</td>
                    </tr>
                    <tr>
                        <td>Wavelength range [um]</td>
                        <td><input type="text" name="wave_min" size="10" rows="1" value="1.4" /></td>
                        <td><input type="text" name="wave_max" size="10" rows="1" value="1.8" /></td>
                    </tr>
                    <tr>
                        <td>Teff range [K]</td>
                        <td><input type="text" name="teff_min" size="10" rows="1" value="2400" /></td>
                        <td><input type="text" name="teff_max" size="10" rows="1" value="2700" /></td>
                    </tr>
                    <tr>
                        <td>Log(g) range [dex]</td>
                        <td><input type="text" name="logg_min" size="10" rows="1" value="4.5" /></td>
                        <td><input type="text" name="logg_max" size="10" rows="1" value="5.5" /></td>
                    </tr>
                    <tr>
                        <td>Fe/H range [dex]</td>
                        <td><input type="text" name="feh_min" size="10" rows="1" value="-0.5" /></td>
                        <td><input type="text" name="feh_max" size="10" rows="1" value="0.5" /></td>
                    </tr>
                </table></p>

                <h3>Step 2: Choose a Filter</h3>
    
                <input type="radio" name="bandpass" value="" checked> Top Hat<br>
                {{filters|safe}}
    
                <h3>Step 3: Choose a Limb Darkening Profile</h3>
                <input type="radio" name="profile" value="uniform"> Uniform<br>
                <input type="radio" name="profile" value="linear"> Linear<br>
                <input type="radio" name="profile" value="quadratic" checked> Quadratic<br>
                <input type="radio" name="profile" value="square-root"> Square-root<br>
                <input type="radio" name="profile" value="logarithmic"> Logarithmic<br>
                <input type="radio" name="profile" value="exponential"> Exponential<br>
                <input type="radio" name="profile" value="3-parameter"> 3-parameter<br>
                <input type="radio" name="profile" value="4-parameter"> 4-parameter<br>
    
                <h3>Step 4: Choose the Stellar Parameters to Calculate</h3>
    
                <p><table>
                    <tr>
                        <td>Teff value [K]</td>
                        <td><input type="text" name="teff" size="10" rows="1" value="2553" /></td>
                    </tr>
                    <tr>
                        <td>Log(g) value [dex]</td>
                        <td><input type="text" name="logg" size="10" rows="1" value="5.22" /></td>
                    </tr>
                    <tr>
                        <td>Fe/H value [dex]</td>
                        <td><input type="text" name="feh" size="10" rows="1" value="0.0" /></td>
                    </tr>
                </table></p>
    
                <br>
                <p>
                    <input type='submit' value='Calculate Coefficients' />
                      (This can take up to 20 seconds.)
                </p>
            
            </form>

        </div>
    
        <div id="footer"></div>

    </body>
</html>
