{% extends "base.html" %}

{% block content %}

    <script src="{{ url_for('static', filename='jquery-1.12.0.min.js')}} "></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>

        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
        <script src='{{ url_for('static',filename='jquery-1.12.0.min.js')}}'></script>
        
        <script type="text/javascript" async
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>

    <body>
        
    
        <div id="header"></div>

        <div class=page>

            <h1>Limb Darkening Calculator</h1>

            <div class=metanav>
                <p>
                    Here is a bunch of stuff about the LDC.
                </p>

            </div>
            
            <h3>Input</h3>
            <table style="border-spacing: 10px; border-collapse: separate;">
            <tr>
                <td>Teff</td>
                <td>{{teff|safe}}</td>
            </tr>
            <tr>
                <td>log(g)</td>
                <td>{{logg|safe}}</td>
            </tr>
            <tr>
                <td>Fe/H</td>
                <td>{{feh|safe}}</td>
            </tr>
            <tr>
                <td>Bandpass</td>
                <td>{{band|safe}}</td>
            </tr>
            <tr>
                <td>Profile</td>
                <td>{{profile|safe}}</td>
            </tr>
            <tr>
                <td>Models</td>
                <td>{{models|safe}}</td>
            </tr>
            </table>
            
            <h3>Result</h3>
            <p style='color:red;'><strong>{{message | safe}}</strong></p>
            
            <br>

        </div>

        
    </body>

{% endblock %}
