{%extends "base.html" %}

{% block content %}
<!doctype html>

            <h1>Time-Series Observation & Reduction Tools</h1>
            <br>
            
            <h2>Tool 1: Integrations Calculator</h2>

            <div class=metanav>
                <p>
                    Let's find you an exoplanet transit!
                    (This is essentially de-mystify-apt.py.) It works to take your
                    transit parameters and spit out EXACTLY what you need to plan 
                    your proposal in APT: number of groups
                    per integrations and the number of integrations that make up
                    the entirety of your transit without oversaturating whichever
                    instrument your heart -- or planet -- desires!
                </p>

             <!--       <p>    
                    How exactly do we calculate this? When is this going to a poor estimate for
                    your star/planet/system? Well, feel free to <a href="{{ url_for('exoctk_tor_background') }}">check our math!</a>
                    </p>  --!>
            </div>
            <div class="span300"> 
                <p>
            <form id='searchform' method='post' action='tor_results' >

            <div class="span20">
                <h3>Star/Transit Parameters</h3>
                First off, we'll need a bit of information about the star. Technically we can fit any magnitude
                you throw at us, but the closer the magnitude band is to the filter, the better your estimate will be!
                
                <br></br>
                <div class="row">
                    
                    <div class="span20"> 
                    Stellar Magnitude: 
                    <input type="text" name="mag" size="7" rows="1" value='10.3' placeholder="magnitude"/>
                        <select name="band">
                      <!--      <option value="B">B</option>
                            <option value="H">H</option>
                            <option value="I">I</option>    
                            <option value="J">J</option>    --!>
                            <option value="K">K</option>
                      <!--      <option value="L">L</option>
                            <option value="R">R</option>
                            <option value="U">U</option>
                            <option value="V">V</option>    --!> 
                            </select>
                    </div> 
                </div>

                <div class="row">
                    <div class="span20">
                        Transit Observation Time:
                        <input type="text" name="T" size="7" rows="1" value='5'  placeholder="(in hours)"/>
                    </div>
                    
                    <div class="span10">
                        Groups -- if you don't know enter 'optimize':
                        <input type="text" name="groups" size="7" rows="1" value='optimize' />
                    </div>
                </div>
            </div>

            <div class="span20">
                <h3>Instrument Specifics</h3>
                Next we need a bit of info about how you'll be using JWST. 
                
                <!--

                <br></br>

                Are you a little turned around about what filter goes where? What throughput level is best for 
                your observation! That's fine!! We all are. Take a quick peep at these filter profiles...
                <br></br>
                {% for this_ins in button_ins %}
                    <a class="btn" href="{{ url_for('exoctk_filter_profile', ins=this_ins) }}">{{ this_ins }}</a>
                {% endfor %}
                --!>
                <br></br>

                <div class="row">
                    <div class="span4">
                        Instrument:
                        <select name="ins">
                            <option value="MIRI">MIRI</option>
                            <option value="NIRCam">NIRCam</option>
                            <option value="NIRSpec">NIRSpec</option>
                            <option value="NIRISS">NIRISS</option>
                        </select>
                    </div>

                    <div class="span10">
                        Filter:
                        <select name="filt">
                            <optgroup label='MIRI'>
                                <option value="LRS">LRS</option>
                            </optgroup>
                            <optgroup label='NIRCam'>
                                <option value="F322W2">F322W2</option>
                        <!--        <option value="F444W">F444W</option>
                            <option value="F277W">F277W</option>   --!>
                            </optgroup>
                            <optgroup label='NIRSpec'>
                        <!--        <option value="G140H">G140H</option>
                                <option value="G140M">G140M</option>
                                <option value="G235H">G235H</option>
                                <option value="G235M">G235M</option>     --!>
                                <option value="G395H">G395H</option>
                                <!--        <option value="G395M">G395M</option>   --!>
                            </optgroup>
                            <optgroup label='NIRISS'>
                                <option value="GR700XD">GR700XD (SOSS)</option>
                            </optgroup>
                        </select>
                        
                    </div>
                </div>
                
                <div class="row">

                    <div class="span10">
                        Subarray:
                        <select name="subarray">
                            <optgroup label='MIRI'>
                            <!--   <option value='FULL'>FULL FRAME</option> --!>
                                <option value='SLITLESSPRISM'>SLITLESSPRISM</option>
                            </optgroup>
                            <optgroup label='NIRCam'>
                            <!--          <option value='FULL'>FULL FRAME</option>    
                                <option value='SUBGRISM256'>SUBGRISM256</option>    --!>
                                <option value='SUBGRISM128'>SUBGRISM128</option>
                            <!--    <option value='SUBGRISM64'>SUBGRISM64</option>    --!>
                            </optgroup>
                            <optgroup label='NIRSpec'>
                            <!--      <option value='SUB2048'>SUB2048</option>    --!>
                                <option value='SUB1024A'>SUB1024A</option>
                                <!--    <option value='SUB1024B'>SUB1024B</option>    --!>
                                <option value='SUB512'>SUB512</option>
                            <!--    <option value='SUB512S'>SUB512S</option>    --!>
                            <optgroup label='NIRISS'>
                                <option value='SUBSTRIP256'>SUBSTRIP256</option>
                                <option value='SUBSTRIP96'>SUBSTRIP96</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="span10">
                        Resets:
                        <input type="text" name="n_reset" size="7" value='1' />
                    </div>
                </div>
            </div>

           <div class="span20">
                <h3>Risk Assessment</h3>
                Our final questions for you gauge how comfortable you are with danger. 
                Please specify your maximum saturation, in full well fraction or counts.
                
                <br></br>
                
                <div class="row">

                    <div class="span10">
                        Saturation can be input in counts or full well fraction (i.e. less than or equal to 1!)
                        <div style="width:10em"><input type="radio" name="sat" value="counts"> counts</div>
                        <div style="width:10em"><input type="radio" name="sat" value="well" checked> full well fraction</div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="span10">
                        Saturation Level</td>
                        <input type="text" name="sat_lvl" size="7" value='.99' placeholder='counts or full well fraction'/>
                    </div>


                    </div> 
            </div>     

            <div class="span300">
                    <h3>Okay! Press the button!</h3>

                <input class="btn" type='submit' value='CALCULATE!'></p>
                <br>
            </div>

            </form>
            </p>

            <HR>

            </div>
            <br>
            
            
        	<h2>Tool 2: Contamination & Visibility Calculator</h2>

			<p>As of now, this tool is designed for Single-Object Slit-less Spectroscopy (SOSS) mode of NIRISS. 
			Since it is slit-less, the spectrum of a target star may be contaminated by partly overlapping spectra of 
			nearby stars. For a given target, the details of this potential contamination are a function of the 
			position angle (PA) at which the observations are taken. This tool simulates SOSS observations of a 
			given target and produces an estimate of the level of contamination as a function of the PA of the 
			observation; it may be used to plan observations at the optimal PA. The tool also computes the JWST 
			accessibility windows of the target, along with the corresponding accessible PAs for NIRISS observations.<br>
			
			In the future, this tool's functions will be extended to calculate contamination by other instruments. 
			</p>

			<p>Usage notes:</p>
			<ul>
				<li>The &ldquo;calculate contamination&rdquo; button computes both the contamination and the visibility of a target. If you wish, you may calculate only the visibility using the &ldquo;calculate visibility&rdquo; button.</li>
				<li>The field stars used for this analysis are retrieved from the 2MASS point source catalogue. Contamination from stars missing from the 2MASS PSC is thus not modelled; this may be important for faint targets.</li>
				<li>For comments and questions, contact <a href="mailto:david.lafreniere@umontreal.ca">david.lafreniere@umontreal.ca</a></li>
			</ul>
			<br>
			<form action="/tor" method="POST" />
				<h3>Input information</h3>
				
				<p><b>Target name:</b>
				<i>(Please don't put any spaces in target name)</i></p>
				<p><input type="text" name="targetname" value = "{{ contamVars['tname'] }}" size="30" maxlength="110"/>
				<input type="submit" name = "submit" value="Resolve Target"/></p>

				<p><b>Coordinates: </b>
				<i>(If target is unresolved, reload page and enter coordinates manually)</i></p>
				<p>RA (HH:MM:SS.S) <input type="text" name="ra" value = "{{ contamVars['ra'] }}"/></p>
				<p>DEC (DDD:MM:SS.S) <input type="text" name="dec" value = "{{ contamVars['dec'] }}"/></p>

	
				<p><b>Add a close binary companion not present in 2MASS:</b>
				<i>(This is optional)</i></p>
				<p>RA offset (&quot;), DEC offset (&quot;), 2MASS J (mag), H (mag) and Ks (mag) [comma separated, no spaces] <input type="text" name="bininfo" value="{{ contamVars['binComp'] }}"  size="50" maxlength="110"></p>
				
				<p><b>Contamination graph PA range:</b>
				<i>(This is also optional)</i></p>
				<p>from <input type="number" name="pamin" min="0" max="359" value="{{ contamVars['PAmax'] }}" >
				to <input type="number" name="pamax" min="1" max="360" value="{{ contamVars['PAmin'] }}"></p>

				<br>
				<h3>Actions</h3>
				<p><input type = "submit" name = "submit" value = "Calculate contamination" >
				<i>(This functionality is work in progress)</i></p>
				<p><input type="submit" name="submit" value="Calculate visibility" >
				<i>(Takes about 2 seconds)</i></p>
			</form>

        	
        	

{% endblock %}
