{%extends "base.html" %}

{% block content %}

            
<h1>Check out the filter profiles for {{ ins }}!</h1>

{% for i in range(names|length) %}

<h2> {{ names[i] }} </h2>
{% if ins == 'NIRISS' %}
    Alas -- you may notice this doesn't look quite like the others. This is
    an estimate from <a href="http://maestria.astro.umontreal.ca/niriss/simu1D/SOSS_Simulator_Guide.pdf">Loic Albert's SOSS Simulator Guide</a>.

{% else %}
These estimates are made with the <a href="https://github.com/natashabatalha/PandExo">PandExo</a> thruput estimate tool.

    
    {% endif %}

    <br></br>
<img src={{ filt_imgs[i] }} alt={{names[i]}}>

{% endfor %}


{% endblock %}
