{%extends "base.html" %}

{% block content %}
<!doctype html>

            <h1>Transit Observation Tools</h1>

            <div class=metanav>
                <p>
                The TOT is a transiting exoplanet noise simulatior. The current implementation scales the measured flux, variance, and exposure time
                values from previously-observed systems, computes the expected rms per spectrophotometric channel, and estimates the transit/eclipse
                depth error based on the anticiapted number of valid in-and-out-of-transit data points. The uncertainty estimates depend on the
                orbital properites of the system, instrument configuration, and observation duration. 
                </p>

            </div>
    
            <form id='searchform' method='post' action='tot_results' >
                
                <h3>Step 1: Data</h3>
                
                <p><table>
                    <tr>
                        <td>Model spectrum filename</td>
                        <td><input type="text" name="exopath" size="50" rows="1" value="/Users/jfilippazzo/Documents/Modules/ExoCTK/ExoCTK/data/tot/WASP43b-Eclipse_Spectrum.txt" /></td>
                    </tr>
                    <tr>
                        <td>Wavelength units</td>
                        <td>
                            <div style="width:5em; float:left"><input type="radio" name="w_unit" value="um" checked> um</div>
                            <div style="width:5em; float:left"><input type="radio" name="w_unit" value="nm"> nm</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Flux units</td>
                        <td>
                            <div style="width:5em; float:left"><input type="radio" name="f_unit" value="fp/f*" checked> fp/f*</div>
                            <div style="width:5em; float:left"><input type="radio" name="f_unit" value="(rp/r*)^2"> (rp/r*)^2</div>
                        </td>
                    </tr>
                </table></p>
                
                <h3>Step 2: System Parameters</h3>
                
                <p><table>
                    <tr>
                        <td>H-band magnitude of the system</td>
                        <td><input type="text" name="hmag" size="10" rows="1" value="9.397" /></td>
                    </tr>
                    <tr>
                        <td>Orbital inclination [degrees]</td>
                        <td><input type="text" name="i" size="10" rows="1" value="82.6" /></td>
                    </tr>
                    <tr>
                        <td>Semi-major axis [R*]</td>
                        <td><input type="text" name="ars" size="10" rows="1" value="5.13" /></td>
                    </tr>
                    <tr>
                        <td>Orbital period [days]</td>
                        <td><input type="text" name="period" size="10" rows="1" value="0.8135" /></td>
                    </tr>
                </table></p>
                
                <h3>Step 3: Detector and Observation Inputs</h3>
    
                <br>
               <p>
                    <input class="btn" type='submit' value='Calculate Transit Curves'></p>
                      (This can take up to 20 seconds.)
                </p>
            
            </form>

        </div>

{% endblock %}
